*node_modules
*.env
*DS_Store
*.next
*packages/goldmund-api/data
*packages/goldmund-api/config/
*packages/goldmund-api/redis.conf
*logs
*packages/goldmund-cli/tmp
*packages/goldmund-api/config/
*packages/goldmund-cli/tmp
lerna-debug.log
docker-compose.ymld
k8s.env